/* h1 {
    color: blue;
    background-color: yellow;
    text-align: center;
}

.heading {
    color: blue;
    background-color: yellow;
    text-align: center;
}


body {
    background-color: pink;
}

button {
    background-color: black;
    color: white;
} */


.box {
    height: 250px;
    width: 250px;
    border: 2px solid black;
    margin: 3px;
    text-align: center;
    background-color: cyan;
}